---
---

@import "{{ site.theme }}";

* {
  font-family: "Century Gothic", sans-serif;
}

h1 {
  font-weight: bold !important;
}

.language-plaintext {
  font-weight: bold !important;
  background-color: #dedede;
  border: solid 1px #000000;
  border-radius: 0.3rem;
  padding: 2px;
}
